@import "../../styles/base/mixinResponse";

.container-details {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.container-taps {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.ant-tabs-left {
    width: 100%;
}