@import "../../styles/base/mixinResponse";


.seccion-proyect {
    width: 100%;
    padding: 40px 0;
    background-color: #f4f4f4; // Fondo claro para todo el área
  }
  .container-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
  }
  
  @media (max-width: 768px) {
    .container-swiper {
      padding: 0 20px; /* Agrega algo de relleno en dispositivos pequeños */
    }
  }
  
  
  .mySwiper {
    width: 100%;
    height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .container-img-header {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .container-img-header:hover {
    transform: scale(1.05); // Efecto hover para la imagen
  }
  
  .container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: transparent // Fondo oscuro translúcido para el texto
  }
  
  .container-text__2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
  }
  
.buttom {
  background-color: #007bff; /* Color de fondo */
  border: 2px solid transparent; /* Borde transparente */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor a mano */
  transition: background-color 0.3s ease; /* Transición suave */
  position: absolute; /* Coloca el botón en la parte inferior */
  left: 50%; /* Centra el botón horizontalmente */
  bottom: -30px; /* Lo coloca a 20px del borde inferior */
  transform: translateX(-50%); /* Ajusta el botón para que quede centrado */
}

.buttom:hover {
  background-color: #0056b3; /* Cambia el fondo al pasar el ratón */
}

  
  @media screen and (max-width: 768px) {
    .container-text__2 {
      font-size: 18px;
    }
  
    .buttom {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container-text__2 {
      font-size: 16px;
    }
  
    .buttom {
      padding: 6px 14px;
      font-size: 12px;
    }
  }